In [1]:
%matplotlib inline

In [2]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import key

In [3]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Santiago Del Estero,AR,2022-10-14 12:02:23,-27.7951,-64.2615,60.19,27,100,9.31
1,1,Avarua,CK,2022-10-14 12:02:23,-21.2078,-159.7750,75.25,94,75,9.22
2,2,Atuona,PF,2022-10-14 12:02:24,-9.8000,-139.0333,76.75,77,26,20.94
3,3,Busselton,AU,2022-10-14 12:01:10,-33.6500,115.3333,52.90,89,22,8.63
4,4,Zlotow,PL,2022-10-14 12:02:25,53.3635,17.0408,61.77,54,32,8.66

In [4]:
# Get the data types. 
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [5]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key= key)

In [6]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]   
# Assign the figure variable.
fig = gmaps.figure()
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [13]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
1,1,Avarua,CK,2022-10-14 12:02:23,-21.2078,-159.7750,75.25,94,75,9.22
2,2,Atuona,PF,2022-10-14 12:02:24,-9.8000,-139.0333,76.75,77,26,20.94
14,14,Monrovia,LR,2022-10-14 12:00:14,6.3005,-10.7969,80.42,77,86,5.23
15,15,Dhidhdhoo,MV,2022-10-14 12:02:30,6.8833,73.1000,81.46,77,97,15.17
23,23,Bambous Virieux,MU,2022-10-14 12:02:34,-20.3428,57.7575,77.25,61,40,11.50
24,24,Saint-Joseph,RE,2022-10-14 12:02:35,-21.3667,55.6167,75.58,70,21,12.73
30,30,Tual,ID,2022-10-14 12:02:38,-5.6667,132.7500,84.38,73,21,11.48
31,31,Srirampur,IN,2022-10-14 12:02:39,22.9489,88.0189,81.34,75,52,4.29
35,35,Boca Do Acre,BR,2022-10-14 12:02:42,-8.7522,-67.3978,75.15,93,76,3.58
36,36,Pandan,PH,2022-10-14 12:02:42,14.0453,124.1694,81.23,84,99,12.01

In [15]:
# To check any null values 
preferred_cities_df.count()

City_ID       175
City          175
Country       175
Date          175
Lat           175
Lng           175
Max Temp      175
Humidity      175
Cloudiness    175
Wind Speed    175
dtype: int64

In [16]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

               City Country  Max Temp      Lat       Lng Hotel Name
1            Avarua      CK     75.25 -21.2078 -159.7750
2            Atuona      PF     76.75  -9.8000 -139.0333
14         Monrovia      LR     80.42   6.3005  -10.7969
15        Dhidhdhoo      MV     81.46   6.8833   73.1000
23  Bambous Virieux      MU     77.25 -20.3428   57.7575
24     Saint-Joseph      RE     75.58 -21.3667   55.6167
30             Tual      ID     84.38  -5.6667  132.7500
31        Srirampur      IN     81.34  22.9489   88.0189
35     Boca Do Acre      BR     75.15  -8.7522  -67.3978
36           Pandan      PH     81.23  14.0453  124.1694