In [1]:
%matplotlib inline

In [2]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import key

In [3]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,East London,ZA,2022-10-14 22:27:02,-33.0153,27.9116,65.43,82,100,8.48
1,1,Vaini,TO,2022-10-14 22:27:03,-21.2000,-175.2000,80.76,78,20,14.97
2,2,Rikitea,PF,2022-10-14 22:27:03,-23.1203,-134.9692,72.54,73,0,6.82
3,3,Hokitika,NZ,2022-10-14 22:27:04,-42.7167,170.9667,53.64,66,76,1.95
4,4,Marabba,SD,2022-10-14 22:27:04,12.3500,32.1833,84.83,56,85,11.18

In [4]:
# Get the data types. 
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [5]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key= key)

In [6]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]   
# Assign the figure variable.
fig = gmaps.figure()
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [11]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
1,1,Vaini,TO,2022-10-14 22:27:03,-21.2000,-175.2000,80.76,78,20,14.97
4,4,Marabba,SD,2022-10-14 22:27:04,12.3500,32.1833,84.83,56,85,11.18
8,8,Redmond,US,2022-10-14 22:27:06,47.6740,-122.1215,78.53,51,25,1.99
10,10,Atuona,PF,2022-10-14 22:27:07,-9.8000,-139.0333,77.05,79,18,16.73
11,11,Itaituba,BR,2022-10-14 22:27:08,-4.2761,-55.9836,82.22,68,77,2.86
18,18,Kapaa,US,2022-10-14 22:27:11,22.0752,-159.3190,87.78,76,40,16.11
25,25,San Patricio,US,2022-10-14 22:27:15,28.0170,-97.5169,89.19,48,56,12.91
27,27,Kuching,MY,2022-10-14 22:25:52,1.5500,110.3333,77.22,94,20,2.30
29,29,Manokwari,ID,2022-10-14 22:27:16,-0.8667,134.0833,81.00,74,88,2.91
30,30,San Juan De Uraba,CO,2022-10-14 22:27:17,8.7592,-76.5297,81.50,82,59,6.02

In [22]:
# To check any null values 
preferred_cities_df.count()

City_ID       172
City          172
Country       171
Date          172
Lat           172
Lng           172
Max Temp      172
Humidity      172
Cloudiness    172
Wind Speed    172
dtype: int64

In [21]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

                 City Country  Max Temp      Lat       Lng Hotel Name
1               Vaini      TO     80.76 -21.2000 -175.2000
4             Marabba      SD     84.83  12.3500   32.1833
8             Redmond      US     78.53  47.6740 -122.1215
10             Atuona      PF     77.05  -9.8000 -139.0333
11           Itaituba      BR     82.22  -4.2761  -55.9836
18              Kapaa      US     87.78  22.0752 -159.3190
25       San Patricio      US     89.19  28.0170  -97.5169
27            Kuching      MY     77.22   1.5500  110.3333
29          Manokwari      ID     81.00  -0.8667  134.0833
30  San Juan De Uraba      CO     81.50   8.7592  -76.5297

In [19]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": key
}

In [23]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    #TW to avoid "IndexError: list index out of range" adding try-except code
    try:  
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except(IndexError):
        print("Hotel not found... skipping.")      
hotel_df.head(10)

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

,City,Country,Max Temp,Lat,Lng,Hotel Name
1,Vaini,TO,80.76,-21.2000,-175.2000,Keleti Beach Resort
4,Marabba,SD,84.83,12.3500,32.1833,
8,Redmond,US,78.53,47.6740,-122.1215,Seattle Marriott Redmond
10,Atuona,PF,77.05,-9.8000,-139.0333,Villa Enata
11,Itaituba,BR,82.22,-4.2761,-55.9836,Hotel Campos
18,Kapaa,US,87.78,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
25,San Patricio,US,89.19,28.0170,-97.5169,"Motel 6 Sinton, TX"
27,Kuching,MY,77.22,1.5500,110.3333,Hilton Kuching
29,Manokwari,ID,81.00,-0.8667,134.0833,Swiss Belhotel Manokwari
30,San Juan De Uraba,CO,81.50,8.7592,-76.5297,Hotel Cerro De Zumba

In [16]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [24]:
# add a pop-up marker for each city that displays the hotel name, city name, country,
# and maximum temperature.

info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [25]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4) 

marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [26]:
###TW  Ask this code order is fine too compared to above #24 & 25. 

# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4) 

# add a pop-up marker for each city that displays the hotel name, city name, country,
# and maximum temperature.

info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]


marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))